.center {
  display: block;
  margin: auto;
  text-align: center;
}
span.caption {
  display: block;
  font-size: 0.9em;
  text-align: center;
}
#search-2,
.no-comments {
  display: none;
}
.fslightbox-container {
  background: #000 !important;
}
#description {
  color: #c7cdc2;
  max-width: 960px;
  text-align: right;
}
header p {
  margin: 15px 0 0;
}
header .container {
  padding: 0;
}
@media (max-width: 480px) {
  header .site-name {
    width: 100%;
  }
  header .site-name img {
    max-width: 100%;
  }
}
body,
#content-holder,
footer #footer-bottom {
  background-color: #000;
}
