.center {
  display: block;
  margin: auto;
  text-align: center;
}
span.caption {
  display: block;
  font-size: 0.9em;
  text-align: center;
}
#search-2,
.no-comments {
  display: none;
}
.fslightbox-container {
  background: #000 !important;
}
#description {
  color: #c7cdc2;
}
header p {
  margin: 5px 0 0;
}
